body {
  margin: 0;
  padding: 0;
  width: '100%';
  font-family: -apple-system, BlinkMacSystemFont, "Autolinker",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}