<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="animation.js"></script>
    <link rel="stylesheet" href="header.css">
    <title>Simple Header</title>
</head>
<body>
    <nav class="a-navbar">
        <div class="a-nav-1">
            <div></div>
            <div class="right-side">
                <a href="#">
                    <a href="#"><button class="nav-mail">
                        <i class="fa fa-envelope"></i> plogging_association_algeria@hotmail.com
                    </button>
                </a>
                <span class="icons">
                    <a href="#">
                        <a href="#"><button class="fa fa-youtube-play"></button>
                    </a>
                    <a href="#">
                        <a href="#"><button class="fa fa-instagram"></button>
                    </a>
                    <a href="#">
                        <a href="#"><button class="fa fa-facebook-square"></button>
                    </a>
                </span>
            </div>
        </div>

        <div class="a-nav-2">
            <div class="left-side">
                <img src="logo.png" alt="Logo plogging_association_algeria">

                <div class="nav-item-holder">
                    <a href="#">
                        <button class="nav-item">
                            PLOGGING ASSOCIATION ALGERIA
                        </button>
                    </a>
                    <div class="sub-nav">
                        <div class="arrow-up">

                        </div>

                        <a href="#">
                            <button class="sub-nav-item">
                                Qui sommes-nous ?
                            </button>
                        </a>

                        <a href="#">
                            <button class="sub-nav-item">
                                Qu’est-ce que le Plogging ?
                            </button>
                        </a>

                        <a href="#">
                            <button class="sub-nav-item">
                                Nos objectifs ?
                            </button>
                        </a>
                        
                        <a href="#">
                            <button class="sub-nav-item">
                                Nous rejoindre
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            
            <button class="a-mobile nav-trigger fa fa-bars">
            </button>

            <div class="right-side">
                <div class="nav-item-holder">
                    <a href="#">
                        <button class="nav-item">
                            Nos comités
                        </button>
                    </a>
                    <div class="sub-nav">

                        <div class="arrow-up">

                        </div>
                        <a href="#">
                            <button class="sub-nav-item">
                                Sport et bien être
                            </button>
                        </a>
                        
                        <a href="#">
                            <button class="sub-nav-item">
                                Junior
                            </button>
                        </a>

                        <a href="#">
                            <button class="sub-nav-item">
                                Eco-tourisme
                            </button>
                        </a>

                        <a href="#">
                            <button class="sub-nav-item">
                                Conférence
                            </button>
                        </a>

                        <a href="#">
                            <button class="sub-nav-item">
                                Biodiversité
                            </button>
                        </a>
                    </div>
                </div>

                <div class="nav-item-holder">
                    <a href="#">
                        <button class="nav-item">
                            Nos teams
                        </button>
                    </a>
                </div>

                <div class="nav-item-holder">
                    <a href="#">
                        <button class="nav-item">
                            Collaborateurs
                        </button>
                    </a>
                </div>

                <div class="nav-item-holder">
                    <a href="#">
                        <button class="nav-item">
                            Nos évenements
                        </button>
                    </a>
                </div>

                <div class="nav-item-holder">
                    <a href="#">
                        <button class="nav-item">
                            Articles
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>